Assembly-*
*.csproj
*.pidb
*.unityproj
*.userprefs
*.sln
*.suo
/obj
/logs
Temp
*.swp
Library
UnitTestResults.xml
Assets/UnityTestTools/*
Assets/CC/*
Assets/PC2D/*
UMA*
umasaves*
UnityVS*
/out
Ignore*
